.banner{
    position: absolute;
    margin: 1em;
    background: $tertiary;
    min-width: 99%;
    max-height: 88%;
   
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}  