.contacts{
    padding: 0px 15px;
    position:relative;
    width: 93%;
    top: 1%;
    background: #fff;
    max-height: 79%;
    overflow:auto;
    scrollbar-width:thin;
    scrollbar-color: #fff #fff;
   
    transition: scrollbar-width 1s;

}
.contacts:hover{
 scrollbar-color: $primary $tertiary;
}