.discussion{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px 0;
    background: white;
    min-height: 75%;
    overflow: auto;
    background-image: url("https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg");
    background-size: contain;
    scrollbar-color: #eee #eee;

    
}
.discussion:hover{
    scrollbar-color: $primary $tertiary;
}

.send-zone{
    background: #fff;
    padding: 2px;
    height: 50%;
    width: 100%;
    bottom: 0;
    margin: auto 0;
    display: table;

    .send-elements{
        display: flex;
        justify-content: space-around;
        margin-top: 5px;

        span{
            flex: 5%;
            text-align: center;
        }
        .attach-file-icon{
            font-size: 30px;
            margin: 3px;
            transition: 0.2s;
        }
        .attach-file-icon:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
        .send-boutton{
            font-size: 30px;
            margin: 3px;
            transition: 0.2s;
        }
        .send-boutton:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
        textarea{
            
            flex: 80%;
            height: 30px;
            padding:15px 0 0 20px;
            outline: none;
            transition: 0.06s;
            border-radius: 5px;
            background: #fff;
            text-align: center;
            font-weight: bold;
            border:1px solid #ddd;
            color: #666;
            resize: none;
         
        }
       
        textarea:focus{
            background: #fff;
            border:2px solid #ccc;
            text-align: left;
            
        }
    }
}