.banner-menu{
    margin: 0.1em;
    padding: 0.2em;
    display: flex;
    justify-content: space-between;

    .actions{
        width: 50px;
        color:$primary;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-items: flex-end;
        justify-content: space-between;

    }
  
}
.personal-menu{
    flex: 30%;
    flex-direction:column;
    justify-content: flex-start;
    max-height: 30%;
    .top{
     
        display: flex;
        justify-content: space-between;
        background: white;
        width: 100%;
        max-height: 14%;
        span{
            padding-top:5%;
            font-weight: bold;
        }
        .actions{
            width: 70px;
            margin-right: 10px;
        }
    }
}
.general-view{
     
    flex: 70%;
    flex-direction:column;
    justify-content: flex-start;
    
    max-height: 20%;
    .top{
        display: flex;
        justify-content: space-between;
        background: white;
        width: 100%;
        max-height:14%;

        i{
            margin-top: 1.2em;
            margin-right: 1em;
    
        }
    }
}

.avatar{
     
    .profile-picture{
    
      background-size:cover;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      margin: 0.5em;
    }
  }