body {
    margin: 0;
    font-family: 'Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  
.body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 3.5em;
}
.loader{
    margin: 20px;
    text-align: center;
    font-size: 40px;
   
      p{
        font-size: 20px;
        display: block;
      }
      i{
        animation: loading 1s infinite linear;
      }
      @keyframes loading {
  
       
        100%{
          transform: rotate(360deg);
        }
        
      }
  }
  i:hover{
    cursor:pointer
  }
